@model Proveedor
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar Proveedor</h1>

<br />
<br />
<form method="post" asp-action="Delete">
    <div class="border backgroundWhite">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="NombreProveedor" class="col-form-label">Nombre Proveedor</label>
            </div>
            <div class="col-5">
                <input asp-for="NombreProveedor" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="NombreContacto" class="col-form-label">Nombre de contacto</label>
            </div>
            <div class="col-5">
                <input asp-for="NombreContacto" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="CorreoContacto" class="col-form-label">Correo Electrónico</label>
            </div>
            <div class="col-5">
                <input asp-for="CorreoContacto" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="TelefonoContacto" class="col-form-label">Teléfono</label>
            </div>
            <div class="col-5">
                <input asp-for="TelefonoContacto" class="form-control" />
            </div>
        </div>

        <!--

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="FechaCreacion" class="col-form-label">Fecha de Creación</label>
            </div>
            <div class="col-5">
                <input type="date" data-val="true" asp-for="FechaCreacion" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="UsuarioCreacion" class="col-form-label">Usuario Creación</label>
            </div>
            <div class="col-5">
                <input asp-for="UsuarioCreacion" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="FechaModificacion" class="col-form-label">Fecha de Modificación</label>
            </div>
            <div class="col-5">
                <input type="date" data-val="true" asp-for="FechaModificacion" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="UsuarioModificacion" class="col-form-label"> Usuario Modificación</label>
            </div>
            <div class="col-5">
                <input asp-for="UsuarioModificacion" class="form-control" />
            </div>
        </div>

            -->
        <div class="form-group row">
            <div class="col-5 offset-2">
                <partial name="_DeleteAndBackToListButton" model="Model.id" />
            </div>
        </div>

    </div>
</form>