@model Marca
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editar Marca</h1>

<br />
<br />
<form method="post" asp-action="Edit">
    <div class="border backgroundWhite">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Nombre_Marca" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Nombre_Marca" class="form-control" />
            </div>
            <span asp-validation-for="Nombre_Marca" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Tipo_Activo" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Tipo_Activo" class="form-control" />
            </div>
            <span asp-validation-for="Tipo_Activo" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Estado" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Estado" class="form-control" />
            </div>
            <span asp-validation-for="Estado" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Fecha_Creacion" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Fecha_Creacion" readonly class="form-control" />
            </div>
           
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Usuario_Creacion" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Usuario_Creacion" readonly class="form-control" />
            </div>
           
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Fecha_Modificacion" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input type="date" data-val="true" asp-for="Fecha_Modificacion" class="form-control" />
            </div>
            <span asp-validation-for="Fecha_Modificacion" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Usuario_Modificacion" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Usuario_Modificacion" class="form-control" />
            </div>
            <span asp-validation-for="Usuario_Modificacion" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-5 offset-2">
                <partial name="_EditAndBackToListButton" model="Model.Id" />
            </div>
        </div>

    </div>
</form>