<div class="row">
    <div class="col-6">
        <input type="submit" class="btn colorBoton form-control" asp-route-Id="@Model" value="Actualizar" />
    </div>
    <div class="col-6">
        <a asp-action="Index" class="btn btn-dark form-control">De Vuelta a la Lista</a>
    </div>
</div>