<td style="width:150px;">
    <div class="btn-group" role="group">
        <a class="btn bg-light text-white" asp-action="Edit" asp-route-Id="@Model">
            <img src="~/images/Lapiz.png"/>
        </a>
        <a class="btn bg-light text-white" asp-action="Delete" asp-route-Id="@Model">
            <img src="~/images/Basura.png" />
        </a>
    </div>
</td>
