
@{
    ViewData["Title"] = "Compra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="text-center justify-content-center">
        <h1>Departamento de Compras</h1>
        <br /><br /><br /><br /><br /><br />
        <div class="row text-center align-items: center">
            <div class="col-4 nav-item align-items-center">
                <a class="nav-link text-dark" asp-area="Compras" asp-controller="Proveedor" asp-action="Index"><img class="dimesion" src="~/images/nCompras.png" /><br />Realizar Orden de Compra</a>
                </div>             
                <div class="col-4 nav-item">
                    <a class="nav-link text-dark" asp-area="Compras" asp-controller="Proveedor" asp-action="Index"><img class="dimesion" src="~/images/nProveedor.png" /><br />Mantenimiento Proveedor</a>
                </div>
                <div class="col-4 nav-item">
                    <a class="nav-link text-dark" asp-area="Compas" asp-controller="" asp-action="Compra"><img class="dimesion" src="~/images/nReporteCompras.png" /><br />Reporte Compras</a>
                </div>
            </div>
    </div>
