
@{
    ViewData["Title"] = "Inventario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="text-center centro ">
        <p>Menu Inventario</p>
        <br /><br /><br /><br /><br /><br />
        <div class="d-flex justify-content-center align-self-auto">
            <div class="row text-center">
                <div class="col-4 nav-item centro">
                    <a class="nav-link text-dark font-weight-bold" asp-area="Inventario" asp-controller="" asp-action="Inventario"><img class="dimesion" src="~/images/nMantenimiento.png" /><br />Mantenimiento Inventario</a>
                </div>
                <div class="col-4 nav-item">
                    <a class="nav-link text-dark font-weight-bold" asp-area="Inventario" asp-controller="" asp-action="Inventario"><img class="dimesion" src="~/images/nReporteInventario.png" /><br />Reporte Inventarios</a>
                </div>
                <div class="col-4 nav-item">
                    <a class="nav-link text-dark font-weight-bold" asp-area="Inventario" asp-controller="" asp-action="Inventario"><img class="dimesion" src="~/images/nCompras.png" /><br />Solicitud de Compra Activos</a>
                </div>
            </div>
        </div>
    </div>

