
@{
    ViewData["Title"] = "Reportes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="text-center justify-content-center">
    <h1>Reportes</h1>
    <br /><br /><br /><br /><br /><br />
    <div class="row text-center align-items: center">
        <div class="col-3 nav-item centro">
            <a class="nav-link text-dark " asp-area="Inventario" asp-controller="" asp-action="Inventario"><img class="dimesion" src="~/images/nMantenimiento.png" /><br />Reporte Compras</a>
        </div>
        <div class="col-3 nav-item">
            <a class="nav-link text-dark " asp-area="Inventario" asp-controller="" asp-action="Inventario"><img class="dimesion" src="~/images/nReporteInventario.png" /><br />Reporte Activos</a>
        </div>
        <div class="col-3 nav-item">
            <a class="nav-link text-dark " asp-area="Inventario" asp-controller="" asp-action="Inventario"><img class="dimesion" src="~/images/NReporteMantenimiento.png" /><br />Reporte Mantenimiento</a>
        </div>
        <div class="col-3 nav-item">
            <a class="nav-link text-dark " asp-area="Inventario" asp-controller="" asp-action="Inventario"><img class="dimesion" src="~/images/nReporteTicket.png" /><br />Reporte Solicitud</a>
        </div>
    </div>
</div>

