
@{
    ViewData["Title"] = "Ticket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="text-center justify-content-center">
        <h1>Ticket</h1>
        <br /><br /><br /><br /><br /><br />
        <div class="row text-center align-items: center">
            <div class="col-4 nav-item align-items-center">
                <a class="nav-link text-dark " asp-area="Inventario" asp-controller="" asp-action="Inventario"><img src="~/images/MantenimientoInventario.png" /><br />Mantenimiento Inventario</a>
            </div>
            <div class="col-4 nav-item">
                <a class="nav-link text-dark" asp-area="Inventario" asp-controller="" asp-action="Inventario"><img src="~/images/ReporteInventarios.png" /><br />Reporte Inventarios</a>
            </div>
            <div class="col-4 nav-item">
                <a class="nav-link text-dark" asp-area="Inventario" asp-controller="" asp-action="Inventario"><img src="~/images/com.png" /><br />Solicitud de Compra Activos</a>
            </div>
        </div>
    </div>
