
@{
    ViewData["Title"] = "Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="text-center centro ">
        <br/><br />
        <h1>Mantenimiento Usuarios</h1>
        <br /><br /><br /><br />
        <div class="d-flex justify-content-center align-self-auto">
            <div class="row text-center">
                <div class="col-4 nav-item centro">
                    <a class="nav-link text-dark font-weight-bold" asp-area="Admin" asp-controller="Departamento" asp-action="Index"><img class="dimesion" src="~/images/nProveedor.png" /><br />Mantenimiento Departamento</a>
                </div>
                <div class="col-4 nav-item">
                    <a class="nav-link text-dark font-weight-bold" asp-area="Admin" asp-controller="AreaTrabajo" asp-action="Index"><img class="dimesion" src="~/images/nSolicitud.png" /><br />Mantenimiento Areas</a>
                </div>
                <div class="col-4 nav-item">
                    <a class="nav-link text-dark font-weight-bold" asp-area="Admin" asp-controller="Puesto" asp-action="Index"><img class="dimesion" src="~/images/nUser.png" /><br />Mantenimiento Puestos</a>
                </div>
                <div class="col-4 nav-item">
                    <a class="nav-link text-dark font-weight-bold" asp-area="Admin" asp-controller="Usuario" asp-action="Index"><img class="dimesion" src="~/images/nCrearUsuario.png" /><br />Mantenimiento Usuarios</a>
                </div>
            </div>
        </div>
    </div>

